.asset-details-descriptions-container {
  margin: 20px 0 20px 0;
}

.asset-details-tags-container {
  margin: 20px 0 20px 0;
}

.asset-details-container {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 5px 5px 5px;
}

.asset-details-item-left{
    width: 200px;
}

.asset-details-item-right{
    width: 300px;

}

.asset-details-tag-form-container {
   > div {
     text-align: right;
     margin-bottom: 5px;
   }
  button {
    &::after {
      content: " ";
      clear: both;
    }
  }
  form {
    margin: 10px 0;
  }
}

.asset-details-add-tag {
  float: right;
}

.asset-detail-badge-container {
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
}

.delete-tag-icon {
  float: right;
  font-size: 1.3rem;
  line-height: 2rem;
  padding-left: 5px;
  color: #3e4e57;
  cursor: pointer;
  font-weight: 700;

  &.floating {
    position: absolute;
    top: -7px;
    right: -16px;
    height: 21px;
    width: 21px;
    padding: 3px 3px 0 3px;
    color: white;
    text-align: center;
    line-height: 3px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      padding: 0 3px 0 3px;
    }
  }

  .asset-icon-bg {
    background-color: white;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &.inline {
    top: -8px;
    right: -20px;
    height: 15px;
    width: 15px;
    background-color: #4e4e4e;
    padding: 5px 3px;
    border-radius: 4px;
    color: white;
    border: 1px solid white;
    font: 1.3rem Helvetica, Verdana, Tahoma;
    text-align: center;
    line-height: 3px;
    margin-left: 5px;
  }

}