.chat-page {
  color: #fff;
  height: 85%;
}

.chat-window-container {
  height: 90%;
  overflow: auto;
  overflow-y: scroll;
}

.chat-window-container::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.disabled {
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  pointer-events: none; 
}