.chat-page {
  color: #fff;
  height: 85%;
  // flex-grow: 0.85; 
}

.chat-window-container {
  height: 90%;
  overflow: auto;
  overflow-y: scroll;
}

.chat-window-container::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}