.folders-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}

.folders-banner-action-group {
    button {
        margin-right: 20px;
    }
}