.card-overlay {
    display: block;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.4);
    text-align:center;
    color: white;
    font-size: 20px;
    animation: fadein 0.3s;
    position:absolute;
}

.generic-card-container {
    height: 200px;
    width: 200px;
    margin: 10px;
    vertical-align: middle;

    span {
        border: 2px solid white;
        padding: 8px;
        position: relative;
        top: 45%;
    }

    &:hover {
        transform: scale(1.03);
        transition-duration: 0.4s;

        .card-overlay-action-menu {
            display: block;
        }

    }

    .card-overlay-action-menu {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        color: #fff;
        ul {
            list-style: none;
            display: inline-flex;
            li {
                cursor: pointer;
                padding: 5px 5px 5px 0;
                svg:hover {
                    fill:#de3618;
                }
            }
        }

        .Polaris-Icon {
            border: none;
            padding: 0;
            top: auto;
        }
    }
}

.generic-card-placeholder {
    @extend .generic-card-container;
    height: 0px;
}


