@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS */
  .Polaris-Frame-ToastManager {
    .Polaris-Frame-ToastManager__ToastWrapper {
      position: relative;
    }
  }
  input[type=search]::-ms-clear {
    display: none;
  }
  .react-grid-HeaderCell.react-grid-HeaderCell--frozen {
    padding: 0 8px;
    .react-grid-checkbox-container > .react-grid-checkbox-label {
      top: 0;
      transform: translateY(16%);
    }
  }
}