.message {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  max-width:85%;
  font-size:.95rem;
  margin:0 0 0.8rem 0;
  padding:.6875rem;
}

.my-message {
  @extend .message;
  border-radius: 0 .75rem 0 .75rem;
  background:#33C507;
  color:white;
}

.others-message {
  @extend .message;
  border-radius:.75rem 0 .75rem 0;
  background:#e6e5eb;
  color:#383641;
 }
