.my-message-container {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  max-width:30%;
  margin:0 0 .8rem 0;
  padding-bottom: .6875rem;
  font-size:.95rem;
  opacity: 1;
}

.my-message-inner {
  font-size:.95rem;
  right: 0;
  overflow: auto;
  border-radius: 0 .75rem 0 .75rem;
  background:#33C507;
  color:white;
  padding:.6875rem;
  opacity: 1;
}