.btns-container {
    text-align: center;
    position: fixed;
    bottom: 20px;
    width:100%;
    left:0px;
}

.blur {
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: 1s linear;
    transition: 1 linear;
}