.signin-signup-parent-container {
    @extend .signup-signin-parent-container;
    text-align: right;
}

.signin-signup-container {
    @extend .signup-signin-container;
    text-align: right;
    width: 325px;
}

.signin-form {
    @extend .signup-form;
}