.rc-steps-item-icon {
    background: #5563c1 !important;
    border-color: #5563c1 !important;
}

.rc-steps-item-finish .rc-steps-item-title:after {
    background-color: #5563c1 !important;
}

.rc-steps-item-finish .rc-steps-item-icon {
    background: transparent !important;
}